# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Repositories\CucumberTuturial\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Excluded files
.idea/
*.iml
/target/
